{% extends 'base.html' %}

{% block head %}
<title>Top Trackify</title>
{% endblock %}


{% block body %}
<div class="container">
    <div class="content">
        <h1 class="header title">Top Trackify</h1>
        <p class="description">View your top artists and tracks!</p>
    

        <form action="/topData" method="GET">

            <table class="table custom_table">
                <tr>
                    <td><label for="type">Type</label></td>
                    <td><select name="type" class="select type">
                        <option value="artists">Artists</option>
                        <option value="tracks">Tracks</option>
                    </select></td>
                </tr>

                <tr>
                    <td><label for="time_period">Time Period</label></td>
                    <td><select name="time_period" class="select time_period">
                        <option value="short_term">Last Month</option>
                        <option value="medium_term">Last 6 Months</option>
                        <option value="long_term">Last Year</option>
                    </select></td>
                </tr>

                <tr>
                    <td><label for="length">Length</label></td>
                    <td><select name="length" class="select length">
                        <option value="10">Top 10</option>
                        <option value="25">Top 25</option>
                        <option value="50">Top 50</option>
                    </select></td>
                </tr>

            </table>
            <button type="submit" class="btn get_btn">Generate</button>
        </form>

        <form action="/logout" method="GET">
            <button type="submit" class="btn logout_btn">Log Out</button>
        </form>
    </div>
</div>


{% endblock %}
